<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="root">
            <div class="select-part">
                <select name="genre" id="genre" @change="onChange($event)" v-model="selectedValue">
                    <option value=""  selected >select genre</option>
                    <option v-for="type in genre" :value="type">{{type}}</option>
                </select>

            </div>
            <div class="card-container">
                <div class="music-card" v-if="selectedValue == disc.genre || selectedValue == ''" v-for="disc in discs">
                    <img :src="disc.poster" :alt="disc.title">
                    <h3 class="album">{{ disc.title }}</h3>
                    <h4 class="artist">{{ disc.author }}</h4>
                    <p class="year">{{ disc.year }}</p>

                </div>
            </div>
        </div>

        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
