* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    max-width: 1170px;
    margin: 0 auto;
    background-color: #232427;
    color: white;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.music-card {
    width: 234px;
    height: 250px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    border-radius: 15px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2);
}

.music-card:hover {
    transform: scale(1.2);
}


.music-card img {
    width: 150px;
}

.album {
    margin: 10px 0;
}

.select-part {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}
